//TODO: use sass conventions

.form-container {
  display: flex;
}

.form-container div {
  margin: 10px
}

.form-container multi-check-degrees {
  margin: 10px
}

.form-container multi-check-interests {
  margin: 10px
}
